

/*gradient top (dark blue) #130C50
Gradient bottom (teal) #2483C9
Button color #130C50
Button hover #2483C9
Button text #F7EB5B

Red text #F30A0A
Yellow text #ECB113
Green text #0ADD0A*/

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.container-fluid {
  padding: 0;
}

.btn {
  background-color: #2483C9;
  color: #F7EB5B;
}

.btn:hover {
  background-color: #130C50;
  color: #F7EB5B;
}

.header {
  color: #F7EB5B;
  background: #130C50;
  background: -webkit-linear-gradient(#130C50, #2483C9);
  background: -moz-linear-gradient(#130C50, #2483C9);
  background: linear-gradient(#130C50, #2483C9);
  margin: 0;
  border-bottom: 1px solid #130c50;
}

.header>.col-xs-4{
  padding-left: 0;
}

#logo {
  padding: 0;
  display: block;
  height: 100%;
  right: 0;
}

.col-xs-4>#header-img{
  padding-top: 5px;
}

#codeForm{
  padding: 40px;
}

.results {
  /*display: none;*/
}

footer {
  /*display: none;*/
  color: #F7EB5B;
  background: #130C50;
  background: -webkit-linear-gradient(#130C50, #2483C9);
  background: -moz-linear-gradient(#130C50, #2483C9);
  background: linear-gradient(#130C50, #2483C9);
  margin: 0;
  border-top: 1px solid #130c50;
}
/* -- MODAL -- */
.modal {
  top: 10%;
}
.modal-header {
  background-color: #f5ed8d;
}
