

/*gradient top (dark blue) #130C50
Gradient bottom (teal) #2483C9
Button color #130C50
Button hover #2483C9
Button text #F7EB5B

Red text #F30A0A
Yellow text #ECB113
Green text #0ADD0A*/

html, body {
  height: 100%;
}
body {
  font-family: "Pavanam", sans-serif;
  background-color: white;
}

.container-fluid {
  padding: 0;
}

.btn {
  background-color: #2483C9;
  color: #F7EB5B;
  border: 0.5px solid black;
}

.btn:hover {
  background-color: #1A5F91;
  color: #F7EB5B;
}

.header {
  color: #F7EB5B;
  background: #130C50;
  background: -webkit-linear-gradient(#130C50, #2483C9);
  background: -moz-linear-gradient(#130C50, #2483C9);
  background: linear-gradient(#130C50, #2483C9);
  margin: 0;
  border-bottom: 1px solid #130c50;
}

.header>.col-xs-4{
  padding-left: 0;
}

#logo {
  padding: 0;
  display: block;
  height: 100%;
  right: 0;
}

#homeBtn {
  background-color: rgba(255, 0, 0, 0);
  border: none;
}
#homeBtn:hover {
  color: #C1B747;
}

.col-xs-4>#header-img{
  padding-top: 5px;
}

#codeForm{
  padding: 40px;
}

label{
  font-weight: bold;
  padding-left: 15px;
}

#submit-btn {

}

.results {
  display: none;
}

#severity {

}

#result {

}

#description {

}

.wrapper {
  min-height: 85%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; // the bottom margin is the negative value of the footer's height
}
footer {
  color: #F7EB5B;
  background: #130C50;
  background: -webkit-linear-gradient(#130C50, #2483C9);
  background: -moz-linear-gradient(#130C50, #2483C9);
  background: linear-gradient(#130C50, #2483C9);
  margin: 0;
  border-top: 1px solid #130c50;
  height: 80px;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 80px;
}
footer button.btn {
  margin: 25px 10px;
}
/* -- MODAL -- */
.modal {
  top: 10%;
}
.modal-header {
  background-color: #f5ed8d;
}
